<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image.woodwhales.cn</title>
</head>

<style type="text/css">
    .el-aside::-webkit-scrollbar {
        display: none;
    }
    .el-aside {
        height: calc(100vh - 200px)
    }
</style>

<body>
    <div id="app">
            <el-container>
                <el-header style="text-align: center; height: auto;">
                    <el-row style="margin-bottom: 10px; font-size: 28px;">
                        <el-row>
                            <el-link href="https://image.woodwhales.cn" style="font-size: 28px" :underline="false">woodwhaes-image-store</el-link>
                        </el-row>
                    </el-row>
                    <el-row style="margin-bottom: 10px; font-size: 14px; color: rgb(128,128,128);">
                        生命不息，折腾不止
                    </el-row>
                    <el-row style="margin-bottom: 10px;">
                        <el-link type="success" href="https://woodwhales.cn" target="_blank" :underline="false">woodwhales'blog</el-link>
                    </el-row>
                    <el-row>
                        <el-divider><i class="el-icon-cherry"></i></el-divider>
                    </el-row>
                </el-header>

                <el-container>
                    <el-aside width="120px">
                        <el-row>
                            <el-col :span="24">
                            <el-menu @select="handleMenuSelect"
                                     :default-active="defaultActive">
                                <template v-for="(img, index) in imgList">
                                    <el-menu-item :index="index+''" >
                                        <span slot="title">{{img.name}}</span>
                                    </el-menu-item>
                                </template>
                            </el-menu>
                            </el-col>
                        </el-row>
                    </el-aside>
                    <el-main>
                        <el-row style="margin-bottom: 10px; text-align: center;">
                            <el-row style="margin-bottom: 10px">
                                <el-link :underline="false" :href="selectedImg.articleUrl" type="primary" style="font-size: large" target="_blank">{{selectedImg.name}}</el-link>
                            </el-row>
                            <template v-for="file in selectedImg.files">
                                <el-row style="margin-bottom: 5px;">
                                    <el-card shadow="hover">
                                        <el-row style="margin-bottom: 5px;">
                                            {{file.fileName}}
                                        </el-row>
                                        <el-row>
                                            <el-image style="height: 200px; margin-left: 10px;" :src="file.url" lazy></el-image>
                                        </el-row>
                                        <el-row>
                                            {{file.url}}
                                        </el-row>
                                        <el-row>
                                            <el-button type="text" @click="copyToClipboard(file)">复制链接</el-button>
                                        </el-row>
                                    </el-card>
                                </el-row>
                            </template>
                        </el-row>
                    </el-main>
                </el-container>
            </el-container>
    </div>
</body>
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          defaultActive: '0',
          imgList: [],
          selectedImg: {
              articleUrl: '',
              name: '',
              basePath: '',
              files: [
                  {
                    fileName: '',
                    url: ''
                  }
              ]
          }
        }
      },
      mounted () {
        this.init()
      },
      methods: {
        handleMenuSelect(index) {
          this.selectedImg = this.imgList[index]
        },
        copyToClipboard: function (file) {
            // 要复制的文本
          var textToCopy = file.url; // 替换为你的字符串

          // 创建一个临时文本区域元素
          var tempTextArea = document.createElement("textarea");
          tempTextArea.value = textToCopy;

          // 将文本区域元素添加到文档中
          document.body.appendChild(tempTextArea);

          // 选择文本
          tempTextArea.select();

          try {
              // 使用 Clipboard API 复制选定的文本
              document.execCommand('copy');
          } catch (err) {
              console.error('Unable to copy text to clipboard.', err);
          }

          // 移除临时文本区域元素
          document.body.removeChild(tempTextArea);

          this.$notify({
            title: '复制成功',
            type: 'success',
            message: '成功复制文件链接：' + file.fileName,
            duration: 1000
          });
        },
        init : function() {
           fetch('tree.json')
           .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
          })
          .then(jsonData => {
            // JSON 文件已加载成功
            this.imgList = jsonData.reverse()
            this.defaultActive = '0'
            this.selectedImg = this.imgList[this.defaultActive]
          })
          .catch(error => {
              console.error('Error during fetch:', error);
          });
        }
      }
    })
  </script>
</html>